/* COMMON */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
a:focus {
  color: none;
}
ul {
  list-style: none;
}
h1, h3, h4, h5, button, a, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 200;
}


/* HEADER */
.whole_head {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image:url(../imgs/header-image-homepage.jpg);
  background-size: cover;
}
/* Nav-menu */
.nav_menu {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.head_logo img {
  width: 200px;
}
.head_nav {
  display: flex;
  width: fit-content;
  align-items: center;
}
.head_nav ul {
  display: flex;
  padding-bottom: 3px;
}
.head_nav ul li {
  margin: 0px 15px;
  padding: 0px;
}
.head_nav ul li a{
  color: white;
  font-size: 10px;
}
.head_nav ul li #home {
  color: #3ba5bd;
}
.head_nav button {
  color: white;
  font-size: 10px;
  margin: 0px 10px;
  padding: 8px 25px;
  background: #39afbb;
  border: none;
  border-radius: 2px;
}
.head_intro {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 35%;
  height: 30%;
  color: white;
}
.head_intro h1 {
  font-size: 60px;
  margin: -10px 0px;
}
.head_intro h1 > span {
  color: #3ba5bd;
}
.head_intro p {
  font-size: 18px;
}
.head_intro button {
  border-radius: 2px;
  font-size: 12px;
  width: fit-content;
  background: #39afbb;
  color: white;
  border: none;
  padding: 10px 30px;
}

/* MAIN */
/* SECTIONS SHARED */
.intro  {
  text-align: center;
  width: 40%;
  margin: auto;
}
.intro img {
  width: 55px;
  margin-bottom: 1vh;
}
.intro_text {
  margin: 0 auto;
  width: fit-content;
}
.intro_text  h2 {
  margin: 0 auto;
  width: fit-content;
  font-size: 30px;
}
.intro_text hr {
  background: #f1efef;
  margin: 3vh auto;
  width: 40%;
}
.intro_text p {
  font-size: 16px;
  line-height: 4vh;
}
.sub_container {
  width: 70%;
  margin: 0 auto;
}
.social_square {
  margin-right: 3px;
  display: inline-block;
  border-radius: 2px;
  width: 22px;
  height: 22px;
  position: relative;
}
.social_square.fb {
  background: #3C5998;
}
.social_square.tw {
  background: #54ACEE;
}
.social_square.in {
  background: #3F729B;
}
.social_square.yt {
  background: red;
}
.social_square i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 11px;
  color: white;
}

/* Section 1 */
#s1_cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 8vh 0;
}
#s1_cont .intro {
  height: fit-content;
  margin: 0 auto;
}
#s1_cont .intro_text h2 {
  margin-bottom: 2vh;
}
#welcome p {
  line-height: 4vh;
}
#organization {
  margin: 5vh auto 0 auto;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.organization_template {
  text-align: center;
  width: calc(100% / 4 );
  padding: 0px 10px;
}
.organization_template img {
  width: 60px;
}
.organization_template h4 {
  margin-bottom: 1.5vh;
  font-size: 17px;
}
.organization_template p {
  line-height: 3.5vh;
  font-size: 13px;
}

/* Section 2 */
#section_2 {
  background: #f1efef;
}
#s2_cont {
  padding: 8vh 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
#doctors_profiles {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
}
.doc_profile {
  background: white;
  width: calc(100% / 3 - 30px);
}
.doc_profile img {
  width: 100%;
}
.doc_infos {
  width: 75%;
  margin: 0 auto;
}
.doc_infos *:not(i) {
  margin: 1.5vh 0;
}
.doc_profile h5 {
  font-size: 16px;
}
.doc_profile p {
  font-size: 14px;
  color: #7c858f;
  line-height: 4vh;
}

/* Section 3 */
#s3_cont {
  padding: 8vh 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
#health_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.services_template {
  margin-top: 8vh;
  width: calc(100% / 3 - 30px);
  text-align: center;
}
.services_template .logo_round {
  margin: 0 auto 2vh auto;
  width: fit-content;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.services_template h4 {
  margin-bottom: 1vh;
  font-size: 17px;
}
.services_template p {
  line-height: 3.5vh;
  font-size: 13px;
}
.logo_round img {
  width: 100%;
}

/* Section 4 */
#section_4 {
  background-image: url(../imgs/paralax-bg-tour-facilities.jpg);
  background-size: cover;
  background-position: center;
}
#s4_cont {
  display: flex;
  align-items: center;
  padding: 10vh 0;
  color: white;
}
#s4_cont .intro #play {
  margin-top: 3.5vh;
  width: 45px;
}

/* Section 5 */
#section_5 {
  display: flex;
  width: 100%;
}
.health_sheet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: calc(100% / 3);
  color: white;
  padding: 5vh 2vh;
}
#cian {
  background: #3AAFBF;
}
#dark_cian {
  background: #3597C3;
}
#darker_cian {
  background: #327EC7;
}
.health_sheet h4 {
  font-size: 15px;
  font-weight: 400;
}
.health_sheet img {
  width: 50px;
}
.health_sheet p {
  text-align: center;
  font-size: 12px;
  line-height: 3.5vh;
}
.health_sheet button {
  color: white;
  border: 2px solid white;
  background: transparent;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 3px;
}

/* Section 6 */
#section_6 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 80vh;
  background-image: url(../imgs/make-an-appointment.jpg);
  background-size: 100% 140%;
  background-position: center;
  color: white;
}
.s6_form {
  margin: 0 auto;
  padding: 10px;
  width: 40%;
}
.s6_form form * {
  margin: 1.5vh 0 ;
  padding: 10px;
}
.s6_form form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.s6_form input {
  color: white;
  font-size: 10px;
  border: 1px solid lightgrey;
  background: transparent;
  width: 48%
}
form input::placeholder,
.s6_form textarea::placeholder {
  color: lightgrey;
}
.s6_form textarea {
  color: white;
  border: 1px solid lightgrey;
  font-size: 10px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100%;
}
.s6_form #submit {
  border-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  border: none;
  background: #39afbb;
  color: white;
  margin: 0;
  width: 100%;
}

/* Section 7 */
#section_7 {
  width: 100%;
  height: 30vh;
  background-image: url(../imgs/rgb-gradient-bar-for-logo-carrasel.jpg);
  background-size: cover;
}
.sub_container.s7 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: auto;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
  width: calc(100% / 4);
}
.slide img {
  width: 80%;
}
.sub_container.s7::-webkit-scrollbar {
  display: none;
}

/* Footer */
.foot_head {
  padding: 50px 40px;
  display: flex;
}
.left_foot {
  display: flex;
  width: 65%;
  height: 100%;
}
.right_foot {
  width: 35%;
  height: 100%;
}
#avada_health {
  width: 50%;
}
#avada_health img {
  width: 45%;
}
#avada_health p {
  font-size: 12px;
  line-height: 3vh;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin: 7px 0px;
}
#avada_health h5 {
  font-size: 12px;
  margin-bottom: 25px;
}
#contact_infos {
  padding: 0px 50px;
}
.foot_head h4 {
  font-size: 14px;
  font-weight: 400;
}
.foot_head h4::after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 40px;
  height: 1.5px;
  background: #39afbb;
  margin-bottom: 15px;
}
.foot_head ul li,
.foot_head ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 3vh;
  font-size: 13px;
  color: black;
}
.foot_head ul li span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.right_foot ul li span {
  vertical-align: middle;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #39afbb;
}
.foot_head ul li i {
  font-size: 11px;
}
.left_foot ul li i {
  color: #39afbb;
}
.right_foot ul li i {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  position: absolute;
}
.right_foot ul {
  margin-bottom: 40px;
}
.right_foot button {
  font-weight: 400;
  border: 1px solid black;
  background: transparent;
  color: black;
  padding: 10px 25px;
}

.foot_bottom {
  background: #f1efef;
  padding : 20px 50px
}
.foot_bottom ul {
  display: flex;
}
.foot_bottom ul li {
  color: grey;
  font-size: 10px;
  margin-right: 10px;
}
.foot_bottom ul li span {
  color: black;
}
#fixed_menu {
  border-radius: 2px;
  width: 35px;
  height: 25px;
  position: fixed;
  bottom: 0px;
  right: 4%;
  background: #41474f;
  color: white;
}
#fixed_menu i {
  font-size: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}














